// margins
@import '~antd/dist/antd.css';

$side-margins: 10rem;
$vertical-margins: 3rem;

// .App {
//   margin: $vertical-margins $side-margins;
//   border: thin;
// }

body {
  background-color: whitesmoke;
}

